# COGS 108 - Final Project

## Group Members: Fill in the Student ID's of each group member here
- A13353652 
- A13749314
- A13952215

# Introduction

### Research Question

Which counties of the United States are most in need for hospitals?

### Hypothesis

Rural areas of the United States will need more hospitals than urban areas.
The reason being that the population in urban cities are higher.

### Abstract

*Data Cleaning*
    The census and the hospital data seem to have no holes in their data set. The only cleaning we need to do to merge the two data sets together properly is to remove the word, “county” in the census data for every row in the county column.
    
*Data Analysis*
    We will be able to do a data analysis by an r correlation coefficient. Visual data analysis by having scatter plot with an x axis of population in a given county and y axis having the number of hospitals in that county. From this we can calculate a regression line of best fit as well as see a trend of the hospital to county. 

*What to report*
    We will report if there is a trend between population and the number of hospitals in a particular county. From this, we can also make recommendation to counties that have too few hospitals in their area. 

Packages we plan to use:
- a. panda
- b. matplotlib.pyplot
- c. numpy

### Data Description

- Dataset Name: Hospitals
- Link to the dataset: https://hifld-dhs-gii.opendata.arcgis.com/datasets/e13641c764344b8ab7dfd41831e56940_0
- Number of observations: 7332

1-2 sentences describing the dataset. 
    This database contains locations of Hospitals for 50 US states.
    The database does not contain nursing homes or health centers.

- Dataset Name: 2010 Census Population Estimation
- Link to the dataset: https://www2.census.gov/programs-surveys/popest/datasets/2010/2010-eval-estimates/
- Number of observations: 3195

1-2 sentences describing the dataset. 
    This dataset contains the 2010 population estimate by county.

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.
    Sort the hospital dataset by county, then add the number of hospitals in that county.
    Then, we combine the census dataset with the hospital set by their counties.

### Background

Referencess (include a link):
- 1) This article talks about how poor neighborhoods in the U.S. don't have enough access to medical care.
    http://newsinteractive.post-gazette.com/longform/stories/poorhealth/1/
- 2) This article talks about why there are less doctors in the rural area.
    https://www.theatlantic.com/health/archive/2014/08/why-wont-doctors-move-to-rural-america/379291/

## Imports

In [502]:
# Imports
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import patsy
import statsmodels.api as sm
from scipy.stats import ttest_ind

## Load & Clean the Data

In [503]:
#Loading data sets
hospitals = pd.read_csv('Hospitals.csv')
census = pd.read_csv('census.csv')
states = pd.read_csv('us_states.csv')

In [504]:
#Cleaning hospital data set
hospitals = hospitals[['STATE', 'COUNTY', 'POPULATION']]

In [505]:
#Clean census data set; drop the population of the state
census = census[['STNAME', 'CTYNAME','POPESTIMATE2010']]

for i, row in census.iterrows():
    if (row['STNAME'] == row['CTYNAME']):
        census.drop(i, inplace=True)

In [506]:
#Convert state names to its abbreviation
for i, row1 in states.iterrows():
    for j, row2 in census.iterrows():
        if (row2['STNAME'] == row1['State']):
            census.loc[j, 'STNAME'] = states.loc[i, 'Abb']

In [507]:
#Remove the substring 'County' and make everything upper case to match the hospital data
for i, row in census.iterrows():
    census.loc[i, 'CTYNAME'] = row['CTYNAME'].replace(' County', '').upper()

In [508]:
#Sorting the names
hospitals = hospitals.sort_values('COUNTY')
census = census.sort_values('CTYNAME')

In [509]:
#Grouping number of hospitals by county
hospital = pd.DataFrame({'Hospital_Count' : hospitals.groupby( [ "STATE", "COUNTY"] ).size()}).reset_index()

In [510]:
#Renaming columns
census = census.rename(columns = {'STNAME': 'STATE'})
census = census.rename(columns = {'CTYNAME': 'COUNTY'})

In [511]:
#Combine state and county name to merge them
hospital["stateCounty"] = hospital["STATE"].map(str) + " " + hospital["COUNTY"]

census["stateCounty"] = census["STATE"].map(str) + " " + census["COUNTY"]
census = census.drop(['STATE', 'COUNTY'], axis=1)

hospital = hospital.drop(['STATE', 'COUNTY'], axis=1)

In [512]:
#Merging cesnsus with hospital dataframe
hos_pop = pd.merge(census, hospital, on='stateCounty')

In [513]:
#get the number of hospital per 100000 people
hos_pop["hos_per_cap"] = hos_pop["Hospital_Count"].map(int) / hos_pop["POPESTIMATE2010"] * 100000

#sort by hospital per capita
hos_pop = hos_pop.sort_values('hos_per_cap')
hos_pop

      POPESTIMATE2010        stateCounty  Hospital_Count  hos_per_cap
50             524834    MD ANNE ARUNDEL               2     0.381073
2349           261117            CO WELD               1     0.382970
1834          2319777          NY QUEENS              10     0.431076
766            230250       MD FREDERICK               1     0.434311
1104           220066       MO JEFFERSON               1     0.454409
1966           219974        NY SARATOGA               1     0.454599
359            217186        GA CHEROKEE               1     0.460435
2215           201993           NC UNION               1     0.495067
1815           392412  VA PRINCE WILLIAM               2     0.509668
432            195766        OH CLERMONT               1     0.510814
2066           192456       FL ST. JOHNS               1     0.519599
1115           541275       CO JEFFERSON               3     0.554247
738            179003         GA FORSYTH               1     0.558650
258            174432        NC CABARRUS               1     0.573289
2380           688081            IL WILL               4     0.581327
1136           171734        NC JOHNSTON               1     0.582296
1160           167905            RI KENT               1     0.595575
51             332764           MN ANOKA               2     0.601027
1520           166209          PA MONROE               1     0.601652
1485           165796       CT MIDDLESEX               1     0.603151
1535           162140      TN MONTGOMERY               1     0.616751
1767           161195            NC PITT               1     0.620367
18             158003           SC AIKEN               1     0.632899
1126           157548         TX JOHNSON               1     0.634727
1796           157220         OH PORTAGE               1     0.636051
2261           920122            NC WAKE               6     0.652087
381            152734      VT CHITTENDEN               1     0.654733
1175          2584652           NY KINGS              17     0.657729
1524           151924          MI MONROE               1     0.658224
21             151870        NC ALAMANCE               1     0.658458
...               ...                ...             ...          ...
2359             2033       MT WHEATLAND               1    49.188392
1119             2008         SD JERAULD               1    49.800797
880              3968         SD GREGORY               2    50.403226
928              3914        TX HARDEMAN               2    51.098620
641              1925           NE DUNDY               1    51.948052
480              1894        KS COMANCHE               1    52.798310
1460             1889         MT MEAGHER               1    52.938062
998              1875        KS HODGEMAN               1    53.333333
789              1796          NE GARDEN               1    55.679287
895              1761          SD HAAKON               1    56.785917
1290             1754         MT LIBERTY               1    57.012543
555              1723         MT DANIELS               1    58.038305
371              1704        CO CHEYENNE               1    58.685446
1436             1678          MT MCCONE               1    59.594756
2163             1592    TX THROCKMORTON               1    62.814070
2232             3154           TX UPTON               2    63.411541
95               4579          KS BARBER               3    65.516488
1894             1452            NE ROCK               1    68.870523
2101             1401       TX STONEWALL               1    71.377587
858              1293         KS GREELEY               1    77.339520
1331             2559           KS LOGAN               2    78.155530
1177             1251           CO KIOWA               1    79.936051
1445             2481        ND MCINTOSH               2    80.612656
308              1176          MT CARTER               1    85.034014
1807             1148         MT PRAIRIE               1    87.108014
793              1143        MT GARFIELD               1    87.489064
1801             2122          SD POTTER               2    94.250707
1598             2822            KS NESS               3   106.307583
1231             1708            KS LANE               2   117.096019
405              2035           KS CLARK               3   147.420147

[2444 rows x 4 columns]

# Data Visualization

In [ ]:
#visual display with graphs
fig = pd.scatter_matrix(hos_pop)

# Data Analysis

In [ ]:
#hos_pop['hos_per_cap'].value_counts().plot(kind='bar')
#plt.hist(hos_pop['POPESTIMATE2010']['Hospital_Count'])
plt.hist(hos_pop[hos_pop['POPESTIMATE2010'] != 0]['Hospital_Count'])

In [ ]:
outcome, predictors = patsy.dmatrices('Hospital_Count ~ POPESTIMATE2010', hos_pop)
mod = sm.OLS(outcome, predictors)
res = mod.fit()
print(res.summary())

In [ ]:
outcome, predictors = patsy.dmatrices('POPESTIMATE2010 ~ Hospital_Count', hos_pop)
mod = sm.OLS(outcome, predictors)
res = mod.fit()
print(res.summary())

# Results

After cleaning the data set we are able to create visual representations. Upon creating visual representations one can see that there seems to be a strong correlation between the number of hospitals and the population. After calculating Pearson's R coefficient we recieved a value of .862. This value showcases that there is a strong correlation between the two.

During our cleaning and merging process we dropped counties that did not have hospitals. By comparing the number of counties we have left, 2444, with the number of counties we started with, 3193, we can see that there are 749 counties without hospitals. To do a deeper analysis we calculated hospitals per hundred thousand people in an attempt to locate counties that were dropped from our data set. From doing this we noticed a surprising fact that small populations in Kansas had numerous hospitals accessible.

# Conclusion & Discussion

The two sets that we have received are from different years. The data we received from the population is from the United States census which is older than the data we have for the hospitals. The data on the hospitals were received from the various state departments and federal resources which may not be missing some hospitals. 

Some counties may have other hospitals close by in a neighboring county if there are lower populations in the county. Another bias would be urban areas vs. rural area since there is a bigger population of people living in urban areas than rural. Also the number of hospitals does not represent the number of people using the hospitals. The size of the hospital are also not taken into account from our data of the hospitals because less amount of hospitals does not mean that less people are being served.

If our methods do not work or our hypotheses are wrong, then we will reflect on our mistakes and change the category of the data that we are looking at. Like for example instead of the ratio between the number of hospitals and the population of the county, we could change the two variables that we are comparing that receive a more accurate conclusion.